<ion-view title="吃货榜样" hide-back-button="true">
    <ion-content>
        <h2 class="login-title">吃货榜样<br/>协同办公系统</h2>
        <form name="loginForm" class="loginform" novalidate="">
            <div class="list">
                <label ng-class="{ 'has-error' : loginForm.username.$invalid  && loginForm.$submitted, 'valid' : loginForm.username.$valid  && loginForm.$submitted}" class="item item-input">
                    <span class="user"></span>
                    <input type="text" name="username" placeholder="登录名" ng-model="user.username" length="11" required>
                </label>
                <div class="form-errors" ng-show="loginForm.phone.$invalid && loginForm.$submitted" ng-messages="loginForm.phone.$error" ng-message-include="templates/form-errors.html">
                </div>
                <label ng-class="{ 'has-error' : loginForm.password.$invalid  && loginForm.$submitted, 'valid' : loginForm.password.$valid  && loginForm.$submitted}" class="item item-input">
                    <span class="phone"></span>
                    <input type="password" name="password" placeholder="密码" ng-model="user.password" required>
                </label>
                <div class="form-errors" ng-show="loginForm.password.$invalid && loginForm.$submitted" ng-messages="loginForm.password.$error" ng-message-include="templates/form-errors.html">
                </div>
                <button class="button button-block button-my" ng-click="login(loginForm)">
                    登录
                </button>
            </div>
        </form>
    </ion-content>
</ion-view>
