# Framework
# ---------
YII_DEBUG   = false
YII_ENV     = pro

# Databases
# ---------
DB_DSN           = mysql:host=127.0.0.1;dbname=distribution
DB_USERNAME      = root
DB_PASSWORD      = 
DB_CHARSET       = utf8
DB_TABLE_PREFIX  = 

# Weixin
WEIXIN_DEBUG    = false
WEIXIN_APP_ID   = wxcd51bcf62e1574a9
WEIXIN_SECRET   = 5beaf849b7253ea6c2b53355aba27d04
WEIXIN_TOKEN    = 
WEIXIN_AES_KEY  = 

# PINGXX
PINGXX_APIKEY = 
PINGXX_APPKEY = 