body {
    background-color: #e5e5e5;
    font-size: 12px;
}

img {
    width: 100%;
}

.am-navbar-default .am-navbar-nav {
    background-color: #369cf6;
}

.am-header-default {
    background-color: #369cf6;
}

.am-btn-primary {
    background-color: #369cf6;
    border-color: #369cf6;
}

.am-navbar-nav a img {
    height: 30px;
    width: auto;
    margin-top: 10px;
}

/* common end */

.price {
    color: red;
}

.panel {
    background-color: #FFF;
    padding: 10px;
    margin-bottom: 20px;
}

.page {
    margin: 2px;
    padding: 10px;
    background-color: #FFF;
}

/* index */
.notice-title {
    margin: 10px 0;
    padding: 20px 25px;
}

.notice-content {
    margin: 10px 0;
    border-left: 2px solid #EEE;
    padding: 10px;
}

.product-item .price-line{
    background-color: #EEE;
    padding: 10px 5px;
}

.price-line .price {
    font-size: 24px;
}

.extract-page .balance {
    padding: 50px 10px 20px;
    font-size: 30px;
    color: red;
    text-align: center;
}

.user-index {
    padding: 10px;
}

.success-page {
    text-align: center;
    padding-top: 50px;
}

.success-page img {
    margin-bottom: 30px;

}