img {
    width: 100%;
}

.price {
    color: red;
}

/* index */
.notice-title {
    margin: 10px 0;
    padding: 20px 25px;
}

.notice-content {
    margin: 10px 0;
    border-left: 2px solid #EEE;
    padding: 10px;
}

.product-item .price_line{
    background-color: #EEE;
    padding: 10px 5px;
}

.product-item .price {
    font-size: 24px;
}

.extract-page .balance {
    padding: 50px 10px 20px;
    font-size: 30px;
    color: red;
    text-align: center;
}

.user-index {
    padding: 10px;
}